.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container > img {
    width: 50%;
    height:50%;
    box-shadow: 1px 1px 15px 6px rgba(0,0,0,0.5);
}