.carrossel_produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.carrossel_produtos > div{
    background-color: #F28585;
    width: 300px;
    height: 340px;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.carrossel_produtos > div:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.card_produto{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card_produto > h2{
    font-weight: 500;
}

.card_produto > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 200;
}


.card_produto > img{
    width: 100%;
    object-fit: contain;
}